BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120

PointerAlignment: Left

BinPackArguments: true
BinPackParameters: true

IndentPPDirectives: BeforeHash
PPIndentWidth: 4

BreakBeforeBraces: Attach
AllowShortEnumsOnASingleLine: true

NamespaceIndentation: All
FixNamespaceComments: false